<!doctype html>
<html>
    <head>
        <title>Página de Comentários</title>
    </head>
    <body>
        <h1>Comentários</h1>
        <hr />
        <form method="post">
            <label for="Nome">Nome: </label>
            <input type="text" name="Nome" id="nome" placeholder="Digite seu nome"> <br />

            <label for="Comentario">Comentário</label>
            <textarea 
                name="Comentario" 
                id="Comentario" 
                placeholder="Digite seu comentário"
            ></textarea>

            <button type="submit">Enviar</button>
        </form>
    </body>
</html>